extends ../layout

block content
  h1= post.title
  h3 by #{post.email}
  .well= post.content
  
  hr
  h3 Question of Number (#{post.numComment})
  table.table
    tr
      th Question List
      th time
    each question in questions
      tr
        td
          a(href='/answers')=question.content
        td= moment(question.createdAt).format('YYYY/MM/DD')
        td
          a.btn.btn-xs.btn-info(href='/posts/#{question._id}/del?_method=DELETE') 삭제
  
  form.form-inline(action='/posts/' + post._id + '/comments', method='POST')
  
    .form-group
      label.sr-only(for='content') content
      input.form-control(name='content', size=50, placeholder='content')
    button.btn.btn-info 질문추가
    
  hr
  a.btn.btn-default(href='/posts') 목록 
